<section class="country-card">
  <h1 class="title">{{name}}</h1>
  <div class="wrapper">
    <div class="detail">
      <p class="detail-item"><span class="detail-title">Capital:</span><span class="detail-text">{{capital}}</span></p>
      <p class="detail-item"><span class="detail-title">Population:</span><span class="detail-text">{{population}}</span></p>
      <p class="detail-item"><span class="detail-title">Languages:</span>
        <ul class="languages-list">
        {{#each languages}}
          <li class="languages-list-item detail-text">{{this.name}}</li>
        {{/each}} 
        </ul>
      </p>
    </div>
    <img class="flag" src="{{flag}}" alt="{{name}} flag">
  </div>
</section>